<html>
<h1>Palindrome</h1>
<form name="input">
<input type="text" name="comments">
<input type="submit" value="Palindrome?">
</form>
</body>
<h1><font color="<%= @font_color %>"><%= @reply %></h1></font>
</html>

