<html>
<h1>Order mottagning</h1>
<form name="input" method=POST>
Namn: <input type="text" name="name"><br>
<br>
Addres (Gata Nr, t.ex. ABCgatan 10): <input type="text" name="address"><br>
Postort: <input type="text" name="postort"><br>
Postnr: <input type="text" name="postnr"><br>
<input type="submit" value="Beställ">
</form>
<p><%= @apple_info %></p>
</html>