<html>
<h1>Add a apple to the database</h1>
<form name="input">
Name of Apple: <input type="text" name="applename"><br>
<u>Is it a tasty apple?</u><br>
<input type="radio" name="tasty" value="true">It's tasty<br>
<input type="radio" name="tasty" value="false">Not tasty
<br>
<br>

<input type="submit" value="Add Apple!">
</form>
<p><%= @apple_info %></p>
</html>