<html>
<h1>Add a apple to the database</h1>
<form name="input" method=POST>
Name of Apple: <input type="text" name="applename"><br>
<u>Is it a tasty apple?</u><br>
<input type="radio" name="tasty" value="true">It's tasty<br>
<input type="radio" name="tasty" value="false">Not tasty
<br>
<br>

<input type="submit" value="Add Apple!">
</form>
<p>
<% if @apple_id == nil %>
 
<% else %>
You can find your generated apple <a href="http://mc.lambdan.com/apples/<%= @apple_id %>">here</a>
<% end %>
</p>
</html>