<html>
<h1>Add a blog entry to the database</h1>
<form name="input" method=POST>
Name of Blog entry: <input type="text" name="applename"><br>
<br>
<br>
<textarea name="entry" cols="40" rows="5">
Enter your Text here...
</textarea><br><br>
Password: <input type="password" name="password">
<input type="submit" value="Add Blog Entry!">
</form>
<p><%= @apple_info %></p>
</html>